.nivel {
  color: #eb2f96;
}

.folder {
  color: #ffd900;
}

.new {
  color: #af8916;
}

.old {
  color: #1890ff;
}

/* table tr td.ant-table-selection-column, table tr th.ant-table-selection-column {
  display: none;
} */

.tree {
  font-size: 20px;
}

span.ant-tree-title {
  margin-left: 10px;
}

.ant-tree.ant-tree-directory .ant-tree-treenode-selected:before, .ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover:before {
  background: #f0f0f0;
  /* background-color: transparent; */
}

.ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-switcher {
  display: none;
}

.ant-tree .ant-tree-treenode-draggable .ant-tree-draggable-icon {
  display: none;
}

.ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected {
  color: black;
}

.ant-tree .ant-tree-treenode {
  align-items: center;
}

.ant-dropdown-menu-item-disabled:hover, .ant-dropdown-menu-submenu-title-disabled:hover {
  cursor: default;
}